@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    background-color: hsl(185, 41%, 84%);
    width: 100%;
}

.whiteCard {
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem 2rem 0 0;
    flex-direction: column;
    display: flex;
    padding: 2rem;
}

label {
    color: hsl(186, 14%, 43%);
}

input {
    font-family: "Space Mono", monospace;
    outline-color: hsl(172, 67%, 45%);
    border: none;
    background-color: hsl(189, 41%, 97%);
    font-weight: 700;
    font-size: 23px;
    color: hsl(183, 100%, 15%);
    text-align: right;
    padding: 0.5rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
    color:hsl(183, 100%, 15%);
    padding: 2rem;
}

.buttonPercent {
    display: grid;
    grid-template-columns: 144px 144px;
    row-gap: 1rem;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}


.button {
    background-color: hsl(183, 100%, 15%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 0.5rem;
    font-size: 23px;
    cursor: pointer;
}

.button:hover {
    transition: 0.5s;
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

/*.buttonActive {
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}*/


#customButton {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-right: 8px;
}

#inputBill {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.numberOfPeople {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.inputError {
    color: orangered;
    display: none;
    text-align: right;
}

.greenCard {
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    color: hsl(189, 41%, 97%);
}

.tipResult {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.total {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.amountTip {
    color: hsl(172, 67%, 45%);
    font-size: 30px;
}

.amountTotal {
    color: hsl(172, 67%, 45%);
    font-size: 30px;
}

.proPerson {
    font-size: 14px;
    color: hsl(184, 14%, 56%);
}

.buttonReset {
    text-align: center;
    font-size: 20px;
    color:  hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.buttonReset:hover {
    transition: 0.5s;
    background-color: hsl(185, 41%, 84%);
}

@media screen and (min-width: 1000px){
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .greenCard {
        flex-direction: column;
        display: flex;
        align-content: space-between;
        width: 450px;
    }
    
    .whiteCard {
        flex-direction: row;
        height: 419px;
        border-radius: 1.5rem;
        width: 900px;
    }
    
    input {
        width: 400px;
        padding: 0.7rem;
    }
    
    .container1 {
        margin-top: 1rem;
        margin-left: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    
    .button {
        height: 56px;
    }
    
    .buttonPercent {
        display: grid;
        grid-template-columns: 130px 130px 130px;
        row-gap: 1rem;
        column-gap: 1.5rem;
    }
    
    .buttonReset {
        margin-top: auto;
        padding: 13px 0px;
    }
    
    .amountTip {
        font-size: 40px;
    }
    
    .amountTotal {
        font-size: 40px;
    }
    
    }
    